
/*VARIAB
ES*/
$dark-color: #050417;
$accent-color: #2A2B8D;
$grey: #D5D7E5;
$light-color: #FFFFFF;
$light-transparent-color: rgba(213, 215, 229, 1);
$body-font: "Poppins", sans-serif;
$heading-font: "Libre Caslon Display", serif;

/*FONT*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

// REMOVE DEFAULTS
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
    border: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
}

textarea {
    border: none;
}


/*MAIN STYLING*/
html {
  font-size: 62.5%;
}

body {
  font-family: $body-font;
  // background-color: $dark-color;
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
}

img {
  width: 100%;
  display: block;
}

header {
  // min-height: 10vh;
  // background-color: $dark-color;
  // border-bottom: 3px solid $accent-color;
}

main {
  min-height: 80vh;
}

footer {
  min-height: 10vh;
}

// * {
//   border: 1px solid red
// }

// h1 {
//   font-family: $heading-font;
//   font-size: 7rem;
//   color: $accent-color;
//   text-align: center;
//   margin: 0;
//   letter-spacing: -3px;
// }

h2 {
  // font-family: $heading-font;
  // font-size: 3.2rem;
  // border-bottom: 5px solid $accent-color;
  // margin: 0;
}

h3 {
  // font-family: $heading-font;
  // font-size: 4rem;
  // margin: 0;
}

p {
  // font-size: 2.3rem;
  // color: $dark-color;
  // padding: 10px;
  // margin: 0;
  // margin-bottom: 5px;
}

ul,
li {
  list-style: none;
}

// button {
//   transform: translate(0%, 0%);
//   border: none;
//   margin: 0;
//   background: lighten($dark-color, 10%);
//   box-shadow: 4px 4px $accent-color;
//   color: white;
//   padding: 15px 15px;
//   font-size: 2rem;
//   border-radius: 25px;
//   outline: none;
//   overflow: hidden;
//   transition: 500ms ease all;
//   &:before {
//     content: '';
//     position: absolute;
//     top: -40%;
//     right: 110%;
//     width: 30px;
//     height: 200%;
//     background: rgba(white, .3);
//     transform: rotate(20deg);
//   }
//   &:hover {
//     background: lighten($accent-color, 13%);
//     box-shadow: 2px 2px $dark-color;
//     &:before {
//       right: -50%;
//       transition: 1s ease all;
//     }
//   }
//   &:focus {
//     transform: scale(1.1);
//   }
// }

button {
  text-transform: uppercase;;
}

/* Skip-line for accessibility */
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: transparent;
    color: transparent;
}

.skipLink:focus {
    left: 0;
}





/* Global Styles End Here */
