/* VARIABLES */
$dark-color: #050417;
$accent-color: #2A2B8D;
$grey: #D5D7E5;
$light-color: #FFFFFF;
$black: #000000;
$light-transparent-color: rgba(213, 215, 229, 1);
$body-font: "Open Sans", sans-serif;
$no-results-color: #FF4A4A;
// $overlay-color: rgba(255, 255, 255, 0);
$overlay-color: rgba(5, 4, 23, 0.8);

/* FONT */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

/* REMOVE DEFAULTS */
body, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

button {
    border: none;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

input {
    border: none;
}

textarea {
    border: none;
}

/* GENERAL STYLES */
html {
  font-size: 62.5%;
}

body {
  font-family: $body-font;
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
}

img {
  width: 100%;
  display: block;
}

button {
  text-transform: uppercase;
  height: 50px;
  width: 246px;
  border-radius: 25px;
  @include fontStyle(14px, $light-color, $body-font, normal, 800, 19px);
  background-color: $accent-color;
  letter-spacing: 0.1em;
  &:hover, &:focus {
    background: lighten($accent-color, 13%);
   }
}

.notVisible {
  display: none;
}


