.header {
    position: relative;
    .flexContainer {
        color: $light-color;
        height: 120px;
        background-color: $dark-color;
        width: 100%;
    }
    // .hamburgerQueryForm {
    //     position: fixed;
    //     width: 100%;
    //     top: 120px;
    //     height: 100vh;
    // }
}