// GENERAL MAIN STYLES
main {
  min-height: 100vh;
  @include flexCenter
}

// ****************************************** //
//              QUERY SCREEN                  //
// ****************************************** //
.queryScreen {
    width: 100%;
    min-height: 100vh;
    background-color: $dark-color;
    @include flexCenter;

    ul {
      position: absolute;
      top: 46px;
    }
    
    li {
      background-color: $light-color;
      @include fontStyle(14px, $black, $body-font, normal, 700, 19px);
      width: 400px;
      height: 50px;
      cursor: pointer;
      padding: 15px 0 15px 20px;
      &:hover, &:focus {
        background-color: $grey;
      }
    }

    h1 {
    @include fontStyle(36px, $light-color, $body-font, normal, 700, 49px);
    text-align: center;
    margin-bottom: 51px;
    margin-top: 14px;
    span {
      font-weight: 200;
    }
  }

  .logoContainer {
    background: linear-gradient(333.23deg, #2A2B8D -16.84%, #2B2F8F -12.31%, #559BD1 119.72%);
    border-radius: 26px;
    width: 70px;
    height: 70px;
    @include flexCenter;
    img {
      width: 40px;
    }
  }

  .queryForm {
    @include flexCenter;
    flex-direction: column;
    @include forSmallPhone {
      width: 60%
    }
    input, select {
      width: 400px;
      height: 50px;
      @include fontStyle(14px, $black, $body-font, normal, 700, 19px);
      padding: 15px 0 15px 20px;
      border-radius: 4px;
      @include forSmallPhone {
      width: 100%;
    }
    }

    input {
      margin-bottom: 21px;
    }

    button {
      margin-top: 51px;
    }

    .collection {
      position: relative;
      ul {
        height: 200px;
        overflow: scroll;
        @include forSmallPhone {
          width: 100%;
          height: 150px;
        }
      }
      li {
        @include forSmallPhone {
           width: 100%
         }
      }
      @include forSmallPhone {
      width: 100%
    }
    }

    .collection::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 20px;
      width: 0; 
      height: 0; 
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid $dark-color;
      border-radius: 2px;
    }

    .collection:hover::after {
        cursor: pointer;
        border-top: 9px solid $no-results-color;
      }

    .collection::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 10px;
      width: 380px;
      height: 50px;
      background-color: $grey;
      border-radius: 4px;
      @include forSmallPhone {
        display: none;
    }
    }
  }

  .collections {
      width: 100%;
      position: relative;
      cursor: pointer;
    }

  .flexContainer {
    display: flex;
    @include flexCenter;
    flex-direction: column;
    @include forSmallPhone {
      width: 100%
    }
  }
}

// ****************************************** //
//              DISPLAY SCREEN                //
// ****************************************** //
// HEADER STYLES
.header {
  width: 100%;
  z-index: 10;
  .flexContainer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    @include forPhone {
      justify-content: space-between;
    }
  }
  .hamburgerQueryForm {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 120px;
    left: 0;
    background-color: $dark-color;
    padding-bottom: 93px;
    // opacity: 0.5;
    @include flexCenter;
    flex-direction: column;
    // @include forPhone {
    //   display: none;
    // }
    // width: 75%;
    .query, .collection, button {
      width: 60%;
    }
    input, select {
      height: 50px;
      @include fontStyle(14px, $black, $body-font, normal, 700, 19px);
      padding: 15px 0 15px 20px;
      border-radius: 4px;
    }
    input {
      margin-bottom: 21px;
    }

    button {
      margin-top: 51px;
    }

    .collection {
      position: relative;
      // margin-left: 30px;
      ul {
        height: 200px;
        overflow: scroll;
      }
    }

    .collection::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 20px;
      width: 0; 
      height: 0; 
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid $dark-color;
      border-radius: 2px;
    }

    .collection:hover::after {
        cursor: pointer;
        border-top: 9px solid $no-results-color;
      }

    .collection::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 10px;
      width: 95%;
      height: 50px;
      background-color: $grey;
      border-radius: 4px;
      @include forSmallPhone {
      display: none;
    }
    }

    .collections {
      width: 100%;
      position: relative;
      cursor: pointer;
    }
  }
  
  ul {
      position: absolute;
      top: 46px;
      width: 100%;
    }

    li {
      background-color: $light-color;
      height: 50px;
      @include fontStyle(14px, $black, $body-font, normal, 600, 19px);
      cursor: pointer;
      padding: 15px 0 15px 20px;
      &:hover {
        background-color: $grey;
      }
    }

  h1, form {
    height: max-content;
  }

  .logoContainer {
    background: linear-gradient(333.23deg, #2A2B8D -16.84%, #2B2F8F -12.31%, #559BD1 119.72%);
    border-radius: 26px;
    width: 70px;
    height: 70px;
    @include flexCenter;
    img {
      width: 40px;
    }
  }

  .queryForm {
    @include flexCenter;
    // @include forPhone {
    //   display: none;
    // }
    width: 75%;
    .query, .collection {
      width: 50%;
    }
    input, select {
      height: 50px;
      @include fontStyle(14px, $black, $body-font, normal, 700, 19px);
      padding: 15px 0 15px 20px;
      border-radius: 4px;
    }
    button {
      margin-left: 52px;
    }
    .collection {
      position: relative;
      margin-left: 30px;
      ul {
        height: 200px;
        overflow: scroll;
      }
    }

    .collection::after {
      content: '';
      position: absolute;
      right: 20px;
      top: 20px;
      width: 0; 
      height: 0; 
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 9px solid $dark-color;
      border-radius: 2px;
    }

    .collection:hover::after {
        cursor: pointer;
        border-top: 9px solid $no-results-color;
      }

    .collection::before {
      content: '';
      position: absolute;
      top: 6px;
      left: 10px;
      width: 95%;
      height: 50px;
      background-color: $grey;
      border-radius: 4px;
    }

    .collections {
      width: 100%;
      position: relative;
      cursor: pointer;
    }
  }

  .iconContainer {
    font-size: 5rem;
    margin-right: 8%;
    cursor: pointer;
    &:hover {
      color: $no-results-color
    }
  }

  .hamburgerLogoContainer {
     margin-left: 8%;
  }

  // .flexContainer {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-around;
  // }
}

// MAIN STYLES
.imageList {
  columns: 3 100px;
  column-gap: 10px;
  
  li {
    margin-bottom: 10px;
  }

  .image {
    position: relative;
    cursor: pointer;
  }

  .imageOverlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: $dark-color;
      opacity: 0.6;
      display: none;
  }

  .image:hover .imageOverlay{
    display: block;
  }
}

.display {
  padding: 170px 0;
}

.imageListConteiner {
  position: relative;
}

// ****************************************** //
//              LOADING SCREEN                //
// ****************************************** //
.loading {
  height: 100vh;
}

.svgLoader {
  animation: spin 0.5s linear infinite;
  margin: auto;
}

.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// ****************************************** //
//              NO RESULTS SCREEN             //
// ****************************************** //
.noResults {
  background: rgba(255,74,74,0.1);
  @include fontStyle(14px, $no-results-color, $body-font, normal, 700, 19px);
  border-radius: 4px;
  // height: 62px;
  // display: flex;
  // align-items: center;
  // padding-left: 30px;
  padding: 15px;
  p {
    color: $no-results-color;
    &:first-of-type {
      margin-bottom: 10px;
    }
  }
}

// ****************************************** //
//                   MODAL                    //
// ****************************************** //
.modalContainer {
  position: fixed;
  // background-color: $overlay-color;
  top:0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px;
  z-index: 30;
  @include flexCenter;
  img {
     max-height: 400px;
    object-fit: cover;
  }
  .modal {
    background-color: $light-color;
    padding: 20px;
    @include forSmallPhone {
      max-width: 100%
    }
  }
  @include forSmallPhone {
    padding: 20px;
  }
}

.overlay {
  position: relative;
}

.overlayTwo {
  position: relative;
}

.overlay::before {
  content: "";
  background-color: $overlay-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.noScroll {
  overflow: hidden;
}

.profileImage {
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  img {
    border-radius: 50%;
  }
  @include forSmallPhone {
      width: 40px;
    }
}

.imageInfo {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  @include fontStyle(30px, $black, $body-font, normal, 700, 41px);
  @include forSmallPhone {
      font-size: 20px;
      line-height: normal;
    }
}

.social {
  @include fontStyle(20px, $accent-color, $body-font, normal, 700, 27px);
  @include forSmallPhone {
      font-size: 16px;
      line-height: normal;
    }
}


