@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/*VARIABLES*/
/*FONT*/
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input {
  border: none;
}

textarea {
  border: none;
}

/*MAIN STYLING*/
html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 80vh;
}

img {
  width: 100%;
  display: block;
}

main {
  min-height: 80vh;
}

footer {
  min-height: 10vh;
}

button {
  text-transform: uppercase;
}

/* Skip-line for accessibility */
/* Global Styles End Here */
.header {
  position: relative;
}

.header .flexContainer {
  color: #FFFFFF;
  height: 120px;
  background-color: #050417;
  width: 100%;
}

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.queryScreen {
  width: 100%;
  min-height: 100vh;
  background-color: #050417;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.queryScreen ul {
  position: absolute;
  top: 46px;
}

.queryScreen li {
  background-color: #FFFFFF;
  color: black;
  width: 400px;
  height: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  padding: 15px 0 15px 20px;
}

.queryScreen li:hover {
  background-color: #D5D7E5;
}

.queryScreen h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 51px;
  margin-top: 14px;
}

.queryScreen h1 span {
  font-weight: 200;
}

.queryScreen .logoContainer {
  background: linear-gradient(333.23deg, #2A2B8D -16.84%, #2B2F8F -12.31%, #559BD1 119.72%);
  border-radius: 26px;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.queryScreen .logoContainer img {
  width: 40px;
}

.queryScreen .queryForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.queryScreen .queryForm input, .queryScreen .queryForm select {
  width: 400px;
  height: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: black;
  padding: 15px 0 15px 20px;
  border-radius: 4px;
}

.queryScreen .queryForm input {
  margin-bottom: 21px;
}

.queryScreen .queryForm button {
  height: 50px;
  width: 246px;
  border-radius: 25px;
  background-color: #2A2B8D;
  color: #FFFFFF;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  margin-top: 51px;
}

.queryScreen .queryForm .collection {
  position: relative;
}

.queryScreen .queryForm .collection ul {
  height: 200px;
  overflow: scroll;
}

.queryScreen .queryForm .collection::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #050417;
  border-radius: 2px;
}

.queryScreen .queryForm .collection:hover::after {
  cursor: pointer;
  border-top: 9px solid pink;
}

.queryScreen .queryForm .collection::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 10px;
  width: 380px;
  height: 50px;
  background-color: #D5D7E5;
  border-radius: 4px;
}

.queryScreen .collections {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.queryScreen .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  width: 100%;
  z-index: 10;
}

.header .flexContainer {
  position: fixed;
}

.header ul {
  position: absolute;
  top: 46px;
  width: 100%;
}

.header li {
  background-color: #FFFFFF;
  color: black;
  height: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  padding: 15px 0 15px 20px;
}

.header li:hover {
  background-color: #D5D7E5;
}

.header h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FFFFFF;
}

.header h1 span {
  font-weight: 200;
}

.header h1, .header form {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.header .logoContainer {
  background: linear-gradient(333.23deg, #2A2B8D -16.84%, #2B2F8F -12.31%, #559BD1 119.72%);
  border-radius: 26px;
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logoContainer img {
  width: 40px;
}

.header .queryForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.header .queryForm .query, .header .queryForm .collection {
  width: 50%;
}

.header .queryForm input, .header .queryForm select {
  height: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: black;
  padding: 15px 0 15px 20px;
  border-radius: 4px;
}

.header .queryForm button {
  height: 50px;
  width: 246px;
  border-radius: 25px;
  background-color: #2A2B8D;
  color: #FFFFFF;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.1em;
  margin-left: 52px;
}

.header .queryForm .collection {
  position: relative;
  margin-left: 30px;
}

.header .queryForm .collection ul {
  height: 200px;
  overflow: scroll;
}

.header .queryForm .collection::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 0;
  height: 0;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #050417;
  border-radius: 2px;
}

.header .queryForm .collection:hover::after {
  cursor: pointer;
  border-top: 9px solid pink;
}

.header .queryForm .collection::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 10px;
  width: 95%;
  height: 50px;
  background-color: #D5D7E5;
  border-radius: 4px;
}

.header .queryForm .collections {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.header .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imageList {
  -webkit-columns: 3 100px;
          columns: 3 100px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.imageList li {
  background-color: red;
  margin-bottom: 10px;
}

.imageList .image {
  position: relative;
}

.imageList .imageOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #050417;
  opacity: 0.6;
  display: none;
}

.imageList .image:hover .imageOverlay {
  display: block;
}

.display {
  padding: 170px 0;
}

.imageListConteiner {
  position: relative;
}

.loading {
  height: 100vh;
  background-color: blueviolet;
}

.svgLoader {
  -webkit-animation: spin 0.5s linear infinite;
          animation: spin 0.5s linear infinite;
  margin: auto;
}

.divLoader {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 9999;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.noResults {
  background: rgba(255, 74, 74, 0.1);
  border-radius: 4px;
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.noResults p {
  color: #FF4A4A;
}

.modalContainer {
  position: fixed;
  background-color: rgba(255, 255, 255, 0);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 40px;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalContainer img {
  max-height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modalContainer .modal {
  background-color: #FFFFFF;
  padding: 20px;
}

.overlay {
  position: relative;
}

.overlayTwo {
  position: relative;
}

.overlay::before {
  content: "";
  background-color: rgba(5, 4, 23, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
}

.noScroll {
  overflow: hidden;
}

.profileImage {
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
}

.profileImage img {
  border-radius: 50%;
}

.imageInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
}

.social {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  color: #2A2B8D;
}
